*
{
    margin:0;
    padding-left: 10px;
    background-image: url(bg.jpg);
}

.h1{
    font-size: large;
    font-weight: 100;
    font-style: italic;
    text-shadow: 0cm;

}
.p{
    text-shadow: 0ch;
}