@media only screen and (max-width: 1130px) {
    /*.nav-list {
        flex-direction: row-reverse;
        display: inline-flex;
        transition: All 0.7s ease-out;
        height: 5px;
    }
    .navbar {
        flex-direction: column;
        height: 72px;
    }
    .rightNav {
        text-align: center;
        visibility: hidden;
    }
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .h-nav-resp {
        height: 72;
    }
    .v-class-resp {
        opacity: 0;
    }*/
    .btn-sm {
        visibility: hidden;
    }
    .carousel-text {
        font-size: 14px;
    }
    .carousel-subtext {
        font-size: 10px;
    }
    .section {
        flex-direction: column-reverse;
    }
    .text-small {
        text-align: center;
        padding: 10%;
        font-size: 10px !important;
    }
    .text-big {
        text-align: center;
        font-size: 25px;
    }
    .buttons {
        text-align: center;
    }
    .paras {
        padding: 0;
    }
    .logo {
        justify-content: center;
        visibility: hidden;
    }
    .secondHalf img {
        visibility: hidden;
    }
    .firstHalf {
        width: 90%;
    }
    hr {
        visibility: hidden;
    }
    .firstHalf .text-small {
        font-size: 15px;
    }
    .caption {
        font-size: 20px;
    }
    .sectionSubtag {
        list-style: none;
    }
    .sectionTag {
        padding: 5px;
    }
    .section {
        padding: 5px;
    }
    .paras {
        padding: 0px 10px;
    }
    li,
    a {
        font-size: 10px;
    }
    .section-left {
        height: auto;
        margin: 0%;
        padding: 0;
        flex-direction: 0%;
    }
    .contact {
        padding: 10%;
    }
    .background {
        background: rgba(0, 0, 0, 0.7) url(img/pic1.jpg) cover no-repeat;
        background-blend-mode: darken;
    }
    
    .firstSection {
        background: rgba(0, 0, 0, 0.7) url(img/pic1.jpg) center/cover no-repeat;
        height: auto;
        min-height: 40vh;
    }
}
